ZibrovCSharp/КлиентWCFСлужбы/КлиентWCFСлужбы/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ВводИмени">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Имя" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ВводИмениResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ВводИмениResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>